<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Aggregating-and-Combining-pandas-DataFrames" data-toc-modified-id="Aggregating-and-Combining-pandas-DataFrames-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Aggregating and Combining <code>pandas</code> DataFrames</a></span><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Set-Up" data-toc-modified-id="Set-Up-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Set Up</a></span></li><li><span><a href="#Aggregating-over-DataFrames:-.groupby()" data-toc-modified-id="Aggregating-over-DataFrames:-.groupby()-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Aggregating over DataFrames: <code>.groupby()</code></a></span></li><li><span><a href="#Aggregating" data-toc-modified-id="Aggregating-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Aggregating</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Pivoting-a-DataFrame" data-toc-modified-id="Pivoting-a-DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pivoting a DataFrame</a></span><ul class="toc-item"><li><span><a href="#.pivot_table()" data-toc-modified-id=".pivot_table()-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span><code>.pivot_table()</code></a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Methods-for-Combining-DataFrames:-.join(),-.merge(),-.concat()" data-toc-modified-id="Methods-for-Combining-DataFrames:-.join(),-.merge(),-.concat()-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Methods for Combining DataFrames: <code>.join()</code>, <code>.merge()</code>, <code>.concat()</code></a></span><ul class="toc-item"><li><span><a href="#.join()" data-toc-modified-id=".join()-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.join()</code></a></span></li><li><span><a href="#.merge()" data-toc-modified-id=".merge()-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.merge()</code></a></span></li><li><span><a href="#The-how-Parameter" data-toc-modified-id="The-how-Parameter-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>The <code>how</code> Parameter</a></span></li><li><span><a href="#pd.concat()" data-toc-modified-id="pd.concat()-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span><code>pd.concat()</code></a></span></li><li><span><a href="#Back-to-the-Center" data-toc-modified-id="Back-to-the-Center-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Back to the Center</a></span></li></ul></li><li><span><a href="#Level-Up:-Quick-Column-Name-Clean-Up-Code" data-toc-modified-id="Level-Up:-Quick-Column-Name-Clean-Up-Code-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Level Up: Quick Column Name Clean Up Code</a></span></li><li><span><a href="#Level-Up:-pandas.set_option()" data-toc-modified-id="Level-Up:-pandas.set_option()-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Level Up: <code>pandas.set_option()</code></a></span><ul class="toc-item"><li><span><a href="#Block-Scientific-Notation" data-toc-modified-id="Block-Scientific-Notation-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Block Scientific Notation</a></span></li><li><span><a href="#See-More-Rows" data-toc-modified-id="See-More-Rows-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>See More Rows</a></span></li></ul></li></ul></div>

# Aggregating and Combining `pandas` DataFrames

## Objectives

- Use GroupBy objects to organize and aggregate data
- Create pivot tables from DataFrames
- Combine DataFrames by merging and appending

## Set Up

Surprise, surprise... we're still working with the Austin Animal Center Data! Let's start with Outcomes

In [1]:
# Imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
# Read in the Outcomes data
# Let's be sure to parse dates for the DateTime and Date of Birth columns
outcomes = pd.read_csv('./data/Austin_Animal_Center_Outcomes_022822.csv',
                      parse_dates = ['DateTime','Date of Birth'])

In [3]:
# Check it
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,2019-05-08 18:20:00,May 2019,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18 16:02:00,Jul 2018,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16 11:38:00,Aug 2020,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13 17:59:00,Feb 2016,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18 11:47:00,Mar 2014,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [4]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137097 entries, 0 to 137096
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         137097 non-null  object
 1   Name              96095 non-null   object
 2   DateTime          137097 non-null  datetime64[ns]
 3   MonthYear         137097 non-null  object
 4   Date of Birth     137097 non-null  datetime64[ns]
 5   Outcome Type      137073 non-null  object
 6   Outcome Subtype   62653 non-null   object
 7   Animal Type       137097 non-null  object
 8   Sex upon Outcome  137095 non-null  object
 9   Age upon Outcome  137092 non-null  object
 10  Breed             137097 non-null  object
 11  Color             137097 non-null  object
dtypes: datetime64[ns](2), object(10)
memory usage: 12.6+ MB

In [5]:
# Let's create our Age in Days column
outcomes['Age in Days'] = outcomes['DateTime'].dt.normalize() - outcomes['Date of Birth']

In [6]:
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Age in Days
0,A794011,Chunk,2019-05-08 18:20:00,May 2019,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,736 days
1,A776359,Gizmo,2018-07-18 16:02:00,Jul 2018,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,371 days
2,A821648,NaN,2020-08-16 11:38:00,Aug 2020,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,366 days
3,A720371,Moose,2016-02-13 17:59:00,Feb 2016,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,128 days
4,A674754,NaN,2014-03-18 11:47:00,Mar 2014,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,6 days

In [7]:
# Grab just the integer here...
outcomes['Age in Days'] = outcomes['Age in Days'].dt.days

In [8]:
# Sanity check
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Age in Days
0,A794011,Chunk,2019-05-08 18:20:00,May 2019,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,736
1,A776359,Gizmo,2018-07-18 16:02:00,Jul 2018,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,371
2,A821648,NaN,2020-08-16 11:38:00,Aug 2020,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,366
3,A720371,Moose,2016-02-13 17:59:00,Feb 2016,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,128
4,A674754,NaN,2014-03-18 11:47:00,Mar 2014,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,6

In [9]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137097 entries, 0 to 137096
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         137097 non-null  object
 1   Name              96095 non-null   object
 2   DateTime          137097 non-null  datetime64[ns]
 3   MonthYear         137097 non-null  object
 4   Date of Birth     137097 non-null  datetime64[ns]
 5   Outcome Type      137073 non-null  object
 6   Outcome Subtype   62653 non-null   object
 7   Animal Type       137097 non-null  object
 8   Sex upon Outcome  137095 non-null  object
 9   Age upon Outcome  137092 non-null  object
 10  Breed             137097 non-null  object
 11  Color             137097 non-null  object
 12  Age in Days       137097 non-null  int64
dtypes: datetime64[ns](2), int64(1), object(10)
memory usage: 13.6+ MB

## Aggregating over DataFrames: `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. (And if you haven't, you'll see it very soon!) Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [10]:
# Just using groupby outputs some weird GroupBy object... not helpful
outcomes.groupby(by='Animal Type')

Once we know we are working with a type of object, it opens up a suite of attributes and methods. One attribute we can look at is groups.

In [11]:
# This returns each group indexed by the group name, e.g. 'Bird',
# along with the row indices of each value

outcomes.groupby('Animal Type').groups.keys()

dict_keys(['Bird', 'Cat', 'Dog', 'Livestock', 'Other'])

In [12]:
# Same goes for multi-index groupbys
animal_outcome = outcomes.groupby(['Animal Type', 'Outcome Type'])

In [13]:
# .groups outputs a dictionary, so we can access the group names using keys()
animal_outcome.groups.keys()

dict_keys([('Cat', 'Rto-Adopt'), ('Dog', 'Adoption'), ('Other', 'Euthanasia'), ('Cat', 'Transfer'), ('Cat', 'Adoption'), ('Cat', 'Return to Owner'), ('Dog', 'Return to Owner'), ('Dog', 'Transfer'), ('Cat', 'Euthanasia'), ('Other', 'Adoption'), ('Dog', 'Rto-Adopt'), ('Cat', 'Died'), ('Dog', 'Euthanasia'), ('Other', 'Transfer'), ('Bird', 'Adoption'), ('Other', 'Disposal'), ('Other', 'Died'), ('Dog', 'Died'), ('Cat', 'Disposal'), ('Other', 'Return to Owner'), ('Bird', 'Euthanasia'), ('Bird', 'Transfer'), ('Livestock', 'Return to Owner'), ('Dog', 'Missing'), ('Other', 'Relocate'), ('Dog', nan), ('Livestock', 'Adoption'), ('Bird', 'Return to Owner'), ('Dog', 'Disposal'), ('Cat', 'Missing'), ('Bird', 'Disposal'), ('Bird', 'Died'), ('Other', 'Missing'), ('Other', 'Rto-Adopt'), ('Bird', 'Relocate'), ('Bird', 'Missing'), ('Other', nan), ('Livestock', 'Transfer'), ('Cat', 'Relocate'), ('Cat', nan), ('Livestock', 'Died'), ('Livestock', 'Euthanasia')])

In [14]:
# We can then get a specific group, such as cats that were adopted
animal_outcome.get_group(('Cat', 'Adoption'))

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Age in Days
7,A689724,*Donatello,2014-10-18 18:52:00,Oct 2014,2014-08-01,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,78
8,A680969,*Zeus,2014-08-05 16:59:00,Aug 2014,2014-06-03,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby,63
20,A730621,*Liza,2016-09-10 18:59:00,Sep 2016,2016-05-18,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Calico,115
26,A801106,NaN,2019-08-16 14:05:00,Aug 2019,2019-05-06,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Orange Tabby,102
54,A792258,Vesper,2019-04-10 20:53:00,Apr 2019,2016-09-08,Adoption,NaN,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Tortie,944
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137072,A846689,Coco Chanel,2022-02-26 17:23:00,Feb 2022,2021-08-19,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair,Blue Tabby,191
137073,A845330,Mitzi,2022-02-26 18:09:00,Feb 2022,2021-01-28,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair,Torbie/White,394
137088,A851184,*Papaya,2022-02-28 11:38:00,Feb 2022,2021-02-08,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Orange Tabby/White,385
137090,A847804,*Mahalia,2022-02-28 11:42:00,Feb 2022,2011-12-08,Adoption,NaN,Cat,Spayed Female,10 years,Domestic Shorthair Mix,Brown Tabby/White,3735
137092,A850166,Rainey,2022-01-24 18:20:00,Jan 2022,2021-11-19,Adoption,NaN,Cat,Intact Male,2 months,Siamese,Seal Point,66

## Aggregating

Once again, as we will see in SQL, groupby objects are intended to be used with aggregation. In SQL, we will see that our queries that include GROUP BY require aggregation performed on columns.

We can use `.sum()`, `.mean()`, `.count()`, `.max()`, `.min()`, etc. Find a list of common aggregations [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).

In [15]:
# Let's try it out
outcomes.groupby('Animal Type').count()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Sex upon Outcome,Age upon Outcome,Breed,Color,Age in Days
Animal Type,,,,,,,,,,,,
Bird,636,145,636,636,636,636,380,636,636,636,636,636
Cat,52092,30380,52092,52092,52092,52088,31815,52092,52091,52092,52092,52092
Dog,77091,64516,77091,77091,77091,77076,24590,77089,77089,77091,77091,77091
Livestock,25,3,25,25,25,25,19,25,25,25,25,25
Other,7253,1051,7253,7253,7253,7248,5849,7253,7251,7253,7253,7253

In [16]:
# Let's try it out
outcomes.groupby('Animal Type').count()['Animal ID']

Animal Type
Bird           636
Cat          52092
Dog          77091
Livestock       25
Other         7253
Name: Animal ID, dtype: int64

## Exercise

Use `.groupby()` to find the most recently born of each (main) animal type.

In [17]:
# Your code here
outcomes.sort_values('Date of Birth').groupby('Animal Type').last()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Sex upon Outcome,Age upon Outcome,Breed,Color,Age in Days
Animal Type,,,,,,,,,,,,
Bird,A851113,A840099,2022-02-10 08:07:00,Feb 2022,2022-01-06,Transfer,Partner,Unknown,5 weeks,Chicken,Yellow/White,35
Cat,A851809,94 Grams,2022-02-19 12:56:00,Feb 2022,2022-02-18,Transfer,Partner,Intact Female,1 day,Domestic Shorthair Mix,Black/White,1
Dog,A851912,A850924,2022-02-23 13:49:00,Feb 2022,2022-02-14,Return to Owner,Partner,Intact Female,1 weeks,Pit Bull,Black/White,9
Livestock,A826448,Peppa,2020-11-28 15:40:00,Nov 2020,2020-05-28,Euthanasia,Suffering,Intact Male,6 months,Pig,Black/White,184
Other,A851380,A848656,2022-02-11 09:43:00,Feb 2022,2022-02-11,Transfer,Partner,Unknown,0 years,Rabbit Sh,White,0

In [18]:
# Cameron's code
outcomes.groupby('Animal Type').max('Date of Birth')

             Age in Days
Animal Type
Bird               10996
Cat                 8036
Dog                 8766
Livestock           1844
Other               7671

# Pivoting a DataFrame

## `.pivot_table()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

Grouping by two different columns can be very helpful.

In [19]:
# Groupby two columns
outcomes.groupby(by=['Outcome Type', 'Sex upon Outcome']).agg('mean')

                                  Age in Days
Outcome Type    Sex upon Outcome
Adoption        Intact Female      419.505568
                Intact Male        476.596774
                Neutered Male      651.126203
                Spayed Female      648.050078
                Unknown            389.964286
Died            Intact Female      349.628049
                Intact Male        304.392157
                Neutered Male     1859.732673
                Spayed Female     2099.905263
                Unknown            311.192737
Disposal        Intact Female      407.277778
                Intact Male        735.935484
                Neutered Male     1987.777778
                Spayed Female     2470.166667
                Unknown            447.166016
Euthanasia      Intact Female     1133.424632
                Intact Male        902.476300
                Neutered Male     2226.837838
                Spayed Female     2313.677966
                Unknown            503.333588
Missing         Intact Female      266.800000
                Intact Male        340.846154
                Neutered Male     1188.285714
                Spayed Female     1262.733333
                Unknown            169.250000
Relocate        Intact Female      732.000000
                Neutered Male     1105.000000
                Spayed Female      495.000000
                Unknown            612.200000
Return to Owner Intact Female     1067.053879
                Intact Male       1110.232182
                Neutered Male     1634.609964
                Spayed Female     1751.059214
                Unknown            764.225275
Rto-Adopt       Intact Female     1481.142857
                Intact Male       1503.175000
                Neutered Male     1254.399577
                Spayed Female     1252.076923
                Unknown           1590.000000
Transfer        Intact Female      409.499911
                Intact Male        351.252856
                Neutered Male     1126.408920
                Spayed Female     1097.636076
                Unknown            169.775301

But it has the unsavory side effect of creating a two-level index. This can be a good time to use `.pivot_table()`.

(There is also a `.pivot()`. For the somewhat subtle differences, see [here](https://stackoverflow.com/questions/30960338/pandas-difference-between-pivot-and-pivot-table-why-is-only-pivot-table-workin).)

In [24]:
outcomes

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Age in Days
0,A794011,Chunk,2019-05-08 18:20:00,May 2019,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,736
1,A776359,Gizmo,2018-07-18 16:02:00,Jul 2018,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,371
2,A821648,NaN,2020-08-16 11:38:00,Aug 2020,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,366
3,A720371,Moose,2016-02-13 17:59:00,Feb 2016,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,128
4,A674754,NaN,2014-03-18 11:47:00,Mar 2014,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137092,A850166,Rainey,2022-01-24 18:20:00,Jan 2022,2021-11-19,Adoption,NaN,Cat,Intact Male,2 months,Siamese,Seal Point,66
137093,A852031,Noodle,2022-02-28 12:50:00,Feb 2022,2020-02-23,Transfer,Partner,Dog,Neutered Male,2 years,Pomeranian/Chihuahua Longhair,Buff,736
137094,A845839,*Carmen,2022-02-28 13:49:00,Feb 2022,2020-05-05,Adoption,Foster,Dog,Spayed Female,1 year,Pit Bull Mix,Brown,664
137095,A844321,Mia Marie,2022-02-28 13:04:00,Feb 2022,2013-10-15,Adoption,Foster,Dog,Spayed Female,8 years,Pit Bull,Black/White,3058
137096,A813933,Lucille,2022-02-28 14:19:00,Feb 2022,2018-12-21,Adoption,NaN,Dog,Spayed Female,3 years,Belgian Malinois,Brown/Black,1165

In [20]:
# Now try with a pivot table
outcomes.pivot_table(index='Outcome Type', columns='Sex upon Outcome', aggfunc='mean')

                   Age in Days                                           \
Sex upon Outcome Intact Female  Intact Male Neutered Male Spayed Female
Outcome Type
Adoption            419.505568   476.596774    651.126203    648.050078
Died                349.628049   304.392157   1859.732673   2099.905263
Disposal            407.277778   735.935484   1987.777778   2470.166667
Euthanasia         1133.424632   902.476300   2226.837838   2313.677966
Missing             266.800000   340.846154   1188.285714   1262.733333
Relocate            732.000000          NaN   1105.000000    495.000000
Return to Owner    1067.053879  1110.232182   1634.609964   1751.059214
Rto-Adopt          1481.142857  1503.175000   1254.399577   1252.076923
Transfer            409.499911   351.252856   1126.408920   1097.636076


Sex upon Outcome      Unknown
Outcome Type
Adoption           389.964286
Died               311.192737
Disposal           447.166016
Euthanasia         503.333588
Missing            169.250000
Relocate           612.200000
Return to Owner    764.225275
Rto-Adopt         1590.000000
Transfer           169.775301

# Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`

Many ways to combine dataframes! Luckily, pandas has great docs: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

## `.join()`

In [21]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'MP'])

toy1

   age   HP
0   63  142
1   33   47

In [22]:
toy2

   age   MP
0   63  100
1   33  200

In [23]:
# We can't just join these as they are, since we haven't specified our suffixes
toy1.join(toy2)

ValueError: columns overlap but no suffix specified: Index(['age'], dtype='object')

In [ ]:
toy1.join(toy2, lsuffix='1', rsuffix='2')

If we don't want to keep both, we could set the overlapping column as the index in each DataFrame:

In [ ]:
toy1.set_index('age').join(toy2.set_index('age'))

In [ ]:
toy1.drop('age', axis=1).join(toy2)

## `.merge()`

Or we could use `.merge()`:

In [ ]:
toy1

In [ ]:
toy2

In [ ]:
toy1.merge(toy2)

In [ ]:
toy1.merge(toy2, on='age')

In [ ]:
# Let's try with a SLIGHTLY bigger toy dataset
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)
ds_chars

In [ ]:
# And another to merge it with
states = pd.read_csv('data/states.csv', index_col=0)
states

## The `how` Parameter

This parameter in both `.join()` and `.merge()` tells the compiler what sort of join to effect. We'll cover this in detail when we discuss SQL.

![image showcasing how the how parameter in a join/merge would combine the two datasets, using venn-style diagrams](https://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)
[[Image Source]](https://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/)

In [ ]:
# Merge ds_chars and states - first an inner join
ds_chars.merge(states, 
               how='inner', 
               left_on='home_state', 
               right_on='state')

In [ ]:
# Now an outer join
ds_chars.merge(states, 
               how='outer', 
               left_on='home_state', 
               right_on='state')

## `pd.concat()`

This method takes a *list* of pandas objects as arguments.

In [ ]:
# Another mini dataset to play with
prefs = pd.read_csv('data/preferences.csv', index_col=0)
prefs

In [ ]:
# Concat prefs and ds_chars
full_df = pd.concat([ds_chars,prefs])
full_df

`pd.concat()`â€“â€“ and many other pandas operations â€“â€“ make use of an `axis` parameter. For this particular method I need to specify whether I want to concatenate the DataFrames *row-wise* (`axis=0`) or *column-wise* (`axis=1`). The default is `axis=0`, so let's override that!

In [ ]:
# Adjust and try again
full_df = pd.concat([ds_chars,prefs],axis=1)
full_df

## Back to the Center

We have Intakes data and we have Outcomes data... time to merge!

In [ ]:
# Peek at the outcomes data we already had in here
outcomes.head(2)

In [ ]:
# Read in the intakes data
intake = pd.read_csv('./data/Austin_Animal_Center_Intakes_022822.csv',
                    parse_dates = ['DateTime'])

In [ ]:
# Check it out
intake.head(2)

In [ ]:
# Let's try merging on Animal ID
combined = outcomes.merge(intake,
                          on='Animal ID', 
                         how='inner',
                         suffixes=['_intake','_outcome'])

In [ ]:
# What was the result?
combined.head()

In [ ]:
combined.shape

In [ ]:
intake.shape

In [ ]:
outcomes.shape

Let's discuss/explore: did that work the way we expected?

-

In [ ]:
# We might want to try something different
# Can we clean something to make a better merge?
combined.loc[combined.duplicated(subset=['Animal ID'], keep=False)]

In [ ]:
# Clean what needs cleaning...
clean_intakes = intake.drop_duplicates(subset=['Animal ID'])
clean_outcomes = outcomes.drop_duplicates(subset=['Animal ID'])

In [ ]:
clean_intakes.shape, intake.shape

In [ ]:
clean_outcomes.shape, outcomes.shape

In [ ]:
# Try again
clean_combined = clean_outcomes.merge(clean_intakes, 
                                      on = 'Animal ID',
                                     how = 'inner', 
                                     suffixes = ['_outcome','_intake'])

In [ ]:
clean_combined.shape

# Level Up: Quick Column Name Clean Up Code

Throwing a quick use of a lambda function your way:

In [ ]:
outcomes_renamed = outcomes.rename(columns = lambda x: x.replace(" ", "_").lower())
outcomes_renamed.head()

In [ ]:
renamed = [col.strip().replace(' ','_').lower() for col in intake.columns]

In [ ]:
renamed

In [ ]:
intake.columns = renamed

In [ ]:
intake.head()

In [ ]:
outcomes_renamed = outcomes.copy()

In [ ]:
outcomes_renamed.columns = [col.strip().replace(' ','_').lower() for col in outcomes.columns]

In [ ]:
outcomes_renamed.columns

# Level Up: `pandas.set_option()`

We can adjust how `pandas` works by setting options in advance.

For complete documentation, see [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html).

## Block Scientific Notation

For example, suppose we want to prevent numbers from being displayed in scientific notation.

In [ ]:
df = pd.DataFrame([[1e9, 2e9], [3e9, 4e9]])
df

Then we can use:

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

df

## See More Rows

Or suppose we want `pandas` to show more rows.

In [ ]:
df2 = pd.DataFrame(np.array(range(100)))
df2

In that case we can use:

In [ ]:
pd.set_option('display.max_rows', 100)

df2

In [ ]:
pd.set_option('display.max_rows', 100)
combined